[Desktop Entry]
Name=Cursor
Comment=AI-first coding environment
GenericName=Text Editor
Exec=cursor %U
Icon=cursor
Type=Application
StartupNotify=true
StartupWMClass=Cursor
Categories=Utility;TextEditor;Development;IDE;
MimeType=application/x-cursor-workspace;
Actions=new-empty-window;
Keywords=cursor;vscode;editor;code;ide;

[Desktop Action new-empty-window]
Name=New Empty Window
Exec=cursor --new-window %U
Icon=cursor
